{
  "package.json": "prettier-package-json --write ",
  "{*.js,www}": "eslint --fix",
  "{*.json,.eslintrc,.prettierrc}": [
    "jsonlint",
    "prettier --write"
  ],
  "*.md": [
    "prettier --write",
    "markdownlint --fix"
  ]
}
